

html a{
    text-decoration: none;
    color: #242424;
    font-style:unset;
}

html a:hover{
    text-decoration: underline;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #D1D1D6;
    text-align: center;
}


.wrapper .btn{
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;;
    float:right;

}

.main-link{
    border: 5px solid #60100B;
    position: static;
    font-weight: 600;
  }
